.mainComponent {
  background: #2c3134;
  background-blend-mode: screen;
  color: white;
}

.banner {
  padding: 20px;
  display: grid;
  grid-template-columns: 20px 20px auto;
  grid-gap: 20px;
  border-bottom: 2px solid snow;
}

#closeBtn {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

#closeBtn:hover {
  opacity: 0.4;
}

#profileIcon {
  height: 25px;
  width: 25px;
}

#qrImg {
  height: 125px;
  width: 125px;
}
