.musicCardContainer {
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow: scroll;
}

.individualMusicCardDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  color: white;
  /* font-size: 24px; */
  font-weight: 700px;
  font-size: 1.5em;
  margin-bottom: 0;
  align-items: center;
}

.artist {
  font-size: 15px;
  font-weight: 400px;
  margin-top: 0;
  font-weight: 500;
}

.albumDiv {
  padding: 20px;
}

.albumImg {
  width: 175px;
  height: 150px;
  border-radius: 2px;
}

.addFormDiv {
  padding: 20px;
}

.musicInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

select {
  border-radius: 0.5em;
}
