.musicCardContainer {
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow: scroll;
}

.individualMusicCardDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  color: snow;
  font-size: 24px;
  font-weight: 700px;
}

.artist {
  font-size: 15px;
  font-weight: 400px;
}

.albumDiv {
  padding: 20px;
}

.albumImg {
  width: 175px;
  height: 150px;
}

.addFormDiv {
  padding: 20px;
}

.musicInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
